@model List<MVCProjectBatch5.Models.Class1>
@{
    ViewBag.Title = "Home Page";
}
<h1> Emp Data</h1>

<table class="table table-bordered table-responsive table-hover">
    <tr>
        <th>Id </th>
        <th>Name</th>
        <th>Email</th>
        <th>Mobile</th>
        <th>Address</th>
        <th>Sal</th>
        <th>Zipcode</th>
        <th>Edit</th>
        <th>Delete</th>
    </tr>
    
    @foreach (var item in Model) 
    {
       <tr>
           <td>@item.Id</td>
           <td>@item.Name</td>
           <td>@item.Email</td>
           <td>@item.Mobile</td>
           <td>@item.Address</td>
           <td>@item.Sal</td>
           <td>@item.Zipcode</td>
           <td><a href="@Url.Action("Edit","Home",new {item.Id} )" class="btn btn-warning">Edit</a></td>
           <td><a href="@Url.Action("Delete","Home",new {item.Id} )" class="btn btn-danger">Delete</a></td>
       </tr> 
    }
    
</table>